@import url(chrome://global/skin/);

tabpanels {
    border: 0px;
    margin: 0px;
    padding: 1px;
}

tabpanel {
    border: 0px;
    margin: 0px;
}

#openfile-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-open.png");
}

#openfile-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-open.png");
}

#home-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-home.png");
}

#home-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-home.png");
}

#back-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-go-back.png");
}

#back-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-go-back.png");
}

#forward-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-go-forward.png");
}

#forward-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-go-forward.png");
}

#previous-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-go-up.png");
}

#previous-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-go-up.png");
}

#next-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-go-down.png");
}

#next-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-go-down.png");
}

#zoomin-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-zoom-in.png");
}

#zoomin-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-zoom-in.png");
}

#zoomout-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-zoom-out.png");
}

#zoomout-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-zoom-out.png");
}

#zoomreset-btn {
    list-style-image: url("chrome://chmsee/skin/gtk-zoom-100.png");
}

#zoomreset-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/gtk-zoom-100.png");
}

#panel-btn {
    list-style-image: url("chrome://chmsee/skin/show-pane.png");
}

#panel-btn[disabled] {
    list-style-image: url("chrome://chmsee/skin/show-pane.png");
}

#preferences-btn { 
    list-style-image: url("chrome://chmsee/skin/gtk-preferences.png");
}

toolbar[printpreview="true"] {
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}
